@{
    Layout = null;
}
<div id="example-basic">
    <h3></h3>
    <section id="sec1">

        <div id="text-radio1">
            <h2>
                Have you experienced any of the following during the last week?

            </h2>
            <small>Click the number that corresponds to your answer.</small>
            <br>
            <div class="table-responsive">
                <table id="subtable1">
                    <thead>
                        <tr>
                            <th class="d-none d-xl-block d-lg-block d-md-block"></th>
                            <th>
                                ALL OF THE TIME
                            </th>
                            <th>
                                MOST OF THE TIME
                            </th>
                            <th>
                                HALF OF THE TIME
                            </th>
                            <th>
                                SOME OF THE TIME
                            </th>
                            <th>
                                NONE OF THE TIME
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr> <td colspan="6" class="text-left d-xl-none d-lg-none d-md-none">1. Eyes that are sensitive to light?</td></tr>
                        <tr class="trqns" data-question="q1">

                            <td class="d-none d-xl-block d-lg-block d-md-block">1. Eyes that are sensitive to light?</td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="4" data-nicelabel='{"position_class": "text_radio", "checked_text": "4", "unchecked_text": "4"}' type="radio" name="q1" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="3" data-nicelabel='{"position_class": "text_radio", "checked_text": "3", "unchecked_text": "3"}' type="radio" name="q1" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="2" data-nicelabel='{"position_class": "text_radio", "checked_text": "2", "unchecked_text": "2"}' type="radio" name="q1" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="1" data-nicelabel='{"position_class": "text_radio", "checked_text": "1", "unchecked_text": "1"}' type="radio" name="q1" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="0" data-nicelabel='{"position_class": "text_radio", "checked_text": "0", "unchecked_text": "0"}' type="radio" name="q1" /></td>
                        </tr>
                        <tr> <td colspan="6" class="text-left d-xl-none d-lg-none d-md-none">2. Eyes that feel gritty?</td></tr>
                        <tr class="trqns" data-question="q2">
                            <td class="d-none d-xl-block d-lg-block d-md-block">2. Eyes that feel gritty?</td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="4" data-nicelabel='{"position_class": "text_radio", "checked_text": "4", "unchecked_text": "4"}' type="radio" name="q2" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="3" data-nicelabel='{"position_class": "text_radio", "checked_text": "3", "unchecked_text": "3"}' type="radio" name="q2" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="2" data-nicelabel='{"position_class": "text_radio", "checked_text": "2", "unchecked_text": "2"}' type="radio" name="q2" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="1" data-nicelabel='{"position_class": "text_radio", "checked_text": "1", "unchecked_text": "1"}' type="radio" name="q2" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="0" data-nicelabel='{"position_class": "text_radio", "checked_text": "0", "unchecked_text": "0"}' type="radio" name="q2" /></td>
                        </tr>
                        <tr> <td colspan="6" class="text-left d-xl-none d-lg-none d-md-none">3. Painful or sore eyes?</td></tr>
                        <tr class="trqns" data-question="q3">
                            <td class="d-none d-xl-block d-lg-block d-md-block">3. Painful or sore eyes?</td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="4" data-nicelabel='{"position_class": "text_radio", "checked_text": "4", "unchecked_text": "4"}' type="radio" name="q3" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="3" data-nicelabel='{"position_class": "text_radio", "checked_text": "3", "unchecked_text": "3"}' type="radio" name="q3" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="2" data-nicelabel='{"position_class": "text_radio", "checked_text": "2", "unchecked_text": "2"}' type="radio" name="q3" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="1" data-nicelabel='{"position_class": "text_radio", "checked_text": "1", "unchecked_text": "1"}' type="radio" name="q3" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="0" data-nicelabel='{"position_class": "text_radio", "checked_text": "0", "unchecked_text": "0"}' type="radio" name="q3" /></td>
                        </tr>
                        <tr> <td colspan="6" class="text-left d-xl-none d-lg-none d-md-none">4. Blurred vision?</td></tr>
                        <tr class="trqns" data-question="q4">
                            <td class="d-none d-xl-block d-lg-block d-md-block">4. Blurred vision?</td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="4" data-nicelabel='{"position_class": "text_radio", "checked_text": "4", "unchecked_text": "4"}' type="radio" name="q4" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="3" data-nicelabel='{"position_class": "text_radio", "checked_text": "3", "unchecked_text": "3"}' type="radio" name="q4" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="2" data-nicelabel='{"position_class": "text_radio", "checked_text": "2", "unchecked_text": "2"}' type="radio" name="q4" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="1" data-nicelabel='{"position_class": "text_radio", "checked_text": "1", "unchecked_text": "1"}' type="radio" name="q4" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="0" data-nicelabel='{"position_class": "text_radio", "checked_text": "0", "unchecked_text": "0"}' type="radio" name="q4" /></td>
                        </tr>
                        <tr> <td colspan="6" class="text-left d-xl-none d-lg-none d-md-none">5. Poor vision?</td></tr>
                        <tr class="trqns" data-question="q5">
                            <td class="d-none d-xl-block d-lg-block d-md-block">5. Poor vision?</td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="4" data-nicelabel='{"position_class": "text_radio", "checked_text": "4", "unchecked_text": "4"}' type="radio" name="q5" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="3" data-nicelabel='{"position_class": "text_radio", "checked_text": "3", "unchecked_text": "3"}' type="radio" name="q5" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="2" data-nicelabel='{"position_class": "text_radio", "checked_text": "2", "unchecked_text": "2"}' type="radio" name="q5" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="1" data-nicelabel='{"position_class": "text_radio", "checked_text": "1", "unchecked_text": "1"}' type="radio" name="q5" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore1(this);" value="0" data-nicelabel='{"position_class": "text_radio", "checked_text": "0", "unchecked_text": "0"}' type="radio" name="q5" /></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="d-none d-xl-block d-lg-block d-md-block"></th>
                            <th colspan="5">
                                <span id="spnError1" class="alert alert-danger"></span>
                            </th>
                        </tr>
                        <tr>
                            <th  class="d-none d-xl-block d-lg-block d-md-block"></th>
                            <th colspan="4" class="text-right">Subtotal score for answers 1 to 5 (A):</th>
                            <th style=""> <label id="totalScore1" class="text-white">0</label></th>
                        </tr>
                    </tfoot>
                </table>

            </div>





        </div>

    </section>
    <h3></h3>
    <section id="sec2">
        <div id="text-radio2">
            <h2 style="margin-left:20px;">Have problems with your eyes limited you in performing any of the following during the last week:</h2>
            <small>Click the number that corresponds to your answer.</small>
            <br>
            <div class="table-responsive">
                <table id="subtable2">
                    <thead>
                        <tr>
                            <th  class="d-none d-xl-block d-lg-block d-md-block"></th>
                            <th>
                                ALL OF THE TIME
                            </th>
                            <th>
                                MOST OF THE TIME
                            </th>
                            <th>
                                HALF OF THE TIME
                            </th>
                            <th>
                                SOME OF THE TIME
                            </th>
                            <th>
                                NONE OF THE TIME
                            </th>
                            <th>
                                N/A
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr> <td colspan="7" class="text-left d-xl-none d-lg-none d-md-none">6. Reading?</td></tr>
                        <tr class="trqns" data-question="q6">
                            <td class="d-none d-xl-block d-lg-block d-md-block">6. Reading?</td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="4" data-nicelabel='{"position_class": "text_radio", "checked_text": "4", "unchecked_text": "4"}' type="radio" name="q6" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="3" data-nicelabel='{"position_class": "text_radio", "checked_text": "3", "unchecked_text": "3"}' type="radio" name="q6" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="2" data-nicelabel='{"position_class": "text_radio", "checked_text": "2", "unchecked_text": "2"}' type="radio" name="q6" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="1" data-nicelabel='{"position_class": "text_radio", "checked_text": "1", "unchecked_text": "1"}' type="radio" name="q6" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="0" data-nicelabel='{"position_class": "text_radio", "checked_text": "0", "unchecked_text": "0"}' type="radio" name="q6" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="0" data-nicelabel='{"position_class": "text_radio", "checked_text": "N/A", "unchecked_text": "N/A"}' type="radio" name="q6" /></td>
                        </tr>
                        <tr> <td colspan="7" class="text-left d-xl-none d-lg-none d-md-none">7. Driving at night?</td></tr>
                        <tr class="trqns" data-question="q7">
                            <td class="d-none d-xl-block d-lg-block d-md-block">7. Driving at night?</td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="4" data-nicelabel='{"position_class": "text_radio", "checked_text": "4", "unchecked_text": "4"}' type="radio" name="q7" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="3" data-nicelabel='{"position_class": "text_radio", "checked_text": "3", "unchecked_text": "3"}' type="radio" name="q7" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="2" data-nicelabel='{"position_class": "text_radio", "checked_text": "2", "unchecked_text": "2"}' type="radio" name="q7" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="1" data-nicelabel='{"position_class": "text_radio", "checked_text": "1", "unchecked_text": "1"}' type="radio" name="q7" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="0" data-nicelabel='{"position_class": "text_radio", "checked_text": "0", "unchecked_text": "0"}' type="radio" name="q7" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="0" data-nicelabel='{"position_class": "text_radio", "checked_text": "N/A", "unchecked_text": "N/A"}' type="radio" name="q7" /></td>
                        </tr>
                        <tr> <td colspan="7" class="text-left d-xl-none d-lg-none d-md-none">8. Working on a computer?</td></tr>
                        <tr class="trqns" data-question="q8">
                            <td class="d-none d-xl-block d-lg-block d-md-block">8. Working on a computer?</td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="4" data-nicelabel='{"position_class": "text_radio", "checked_text": "4", "unchecked_text": "4"}' type="radio" name="q8" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="3" data-nicelabel='{"position_class": "text_radio", "checked_text": "3", "unchecked_text": "3"}' type="radio" name="q8" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="2" data-nicelabel='{"position_class": "text_radio", "checked_text": "2", "unchecked_text": "2"}' type="radio" name="q8" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="1" data-nicelabel='{"position_class": "text_radio", "checked_text": "1", "unchecked_text": "1"}' type="radio" name="q8" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="0" data-nicelabel='{"position_class": "text_radio", "checked_text": "0", "unchecked_text": "0"}' type="radio" name="q8" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="0" data-nicelabel='{"position_class": "text_radio", "checked_text": "N/A", "unchecked_text": "N/A"}' type="radio" name="q8" /></td>
                        </tr>
                        <tr> <td colspan="7" class="text-left d-xl-none d-lg-none d-md-none">9. Watching TV?</td></tr>
                        <tr class="trqns" data-question="q9">
                            <td class="d-none d-xl-block d-lg-block d-md-block">9. Watching TV?</td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="4" data-nicelabel='{"position_class": "text_radio", "checked_text": "4", "unchecked_text": "4"}' type="radio" name="q9" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="3" data-nicelabel='{"position_class": "text_radio", "checked_text": "3", "unchecked_text": "3"}' type="radio" name="q9" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="2" data-nicelabel='{"position_class": "text_radio", "checked_text": "2", "unchecked_text": "2"}' type="radio" name="q9" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="1" data-nicelabel='{"position_class": "text_radio", "checked_text": "1", "unchecked_text": "1"}' type="radio" name="q9" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="0" data-nicelabel='{"position_class": "text_radio", "checked_text": "0", "unchecked_text": "0"}' type="radio" name="q9" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore2(this);" value="0" data-nicelabel='{"position_class": "text_radio", "checked_text": "N/A", "unchecked_text": "N/A"}' type="radio" name="q9" /></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="d-none d-xl-block d-lg-block d-md-block"></th>
                            <th colspan="6">
                                <span id="spnError2" class="alert alert-danger"></span>
                            </th>
                        </tr>
                        <tr>
                            <th  class="d-none d-xl-block d-lg-block d-md-block"></th>
                            <th colspan="5" class="text-right">Subtotal score for answers 6 to 9 (B):</th>
                            <th style=""> <label id="totalScore2" class="text-white">0</label></th>
                        </tr>

                    </tfoot>
                </table>
            </div>
        </div>

    </section>
    <h3></h3>
    <section id="sec3">
        <div id="text-radio3">
            <h2 style="margin-left:20px;">Have your eyes felt uncomfortable in any of the following situations during the last week:</h2>
            <small>Click the number that corresponds to your answer.</small>
            <br>
            <div class="table-responsive">
                <table id="subtable3">
                    <thead>
                        <tr>
                            <th class="d-none d-xl-block d-lg-block d-md-block"></th>
                            <th>
                                ALL OF THE TIME
                            </th>
                            <th>
                                MOST OF THE TIME
                            </th>
                            <th>
                                HALF OF THE TIME
                            </th>
                            <th>
                                SOME OF THE TIME
                            </th>
                            <th>
                                NONE OF THE TIME
                            </th>
                            <th>
                                N/A
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr> <td colspan="7" class="text-left d-xl-none d-lg-none d-md-none">10. Windy conditions?</td></tr>
                        <tr class="trqns" data-question="q10">
                            <td class="d-none d-xl-block d-lg-block d-md-block">10. Windy conditions?</td>
                            <td><input class="text-nicelabel" onclick="CalculateScore3(this);" value="4" data-nicelabel='{"position_class": "text_radio", "checked_text": "4", "unchecked_text": "4"}' type="radio" name="q10" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore3(this);" value="3" data-nicelabel='{"position_class": "text_radio", "checked_text": "3", "unchecked_text": "3"}' type="radio" name="q10" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore3(this);" value="2" data-nicelabel='{"position_class": "text_radio", "checked_text": "2", "unchecked_text": "2"}' type="radio" name="q10" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore3(this);" value="1" data-nicelabel='{"position_class": "text_radio", "checked_text": "1", "unchecked_text": "1"}' type="radio" name="q10" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore3(this);" value="0" data-nicelabel='{"position_class": "text_radio", "checked_text": "0", "unchecked_text": "0"}' type="radio" name="q10" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore3(this);" value="0" data-nicelabel='{"position_class": "text_radio", "checked_text": "N/A", "unchecked_text": "N/A"}' type="radio" name="q10" /></td>
                        </tr>
                        <tr> <td colspan="7" class="text-left d-xl-none d-lg-none d-md-none">11. Dry/low humidity areas?</td></tr>
                        <tr class="trqns" data-question="q11">
                            <td class="d-none d-xl-block d-lg-block d-md-block">11. Dry/low humidity areas?</td>
                            <td><input class="text-nicelabel" onclick="CalculateScore3(this);" value="4" data-nicelabel='{"position_class": "text_radio", "checked_text": "4", "unchecked_text": "4"}' type="radio" name="q11" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore3(this);" value="3" data-nicelabel='{"position_class": "text_radio", "checked_text": "3", "unchecked_text": "3"}' type="radio" name="q11" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore3(this);" value="2" data-nicelabel='{"position_class": "text_radio", "checked_text": "2", "unchecked_text": "2"}' type="radio" name="q11" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore3(this);" value="1" data-nicelabel='{"position_class": "text_radio", "checked_text": "1", "unchecked_text": "1"}' type="radio" name="q11" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore3(this);" value="0" data-nicelabel='{"position_class": "text_radio", "checked_text": "0", "unchecked_text": "0"}' type="radio" name="q11" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore3(this);" value="0" data-nicelabel='{"position_class": "text_radio", "checked_text": "N/A", "unchecked_text": "N/A"}' type="radio" name="q11" /></td>
                        </tr>
                        <tr> <td colspan="7" class="text-left d-xl-none d-lg-none d-md-none">12. Areas that are air conditioned?</td></tr>
                        <tr class="trqns" data-question="q12">
                            <td class="d-none d-xl-block d-lg-block d-md-block">12. Areas that are air conditioned?</td>
                            <td><input class="text-nicelabel" onclick="CalculateScore3(this);" value="4" data-nicelabel='{"position_class": "text_radio", "checked_text": "4", "unchecked_text": "4"}' type="radio" name="q12" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore3(this);" value="3" data-nicelabel='{"position_class": "text_radio", "checked_text": "3", "unchecked_text": "3"}' type="radio" name="q12" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore3(this);" value="2" data-nicelabel='{"position_class": "text_radio", "checked_text": "2", "unchecked_text": "2"}' type="radio" name="q12" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore3(this);" value="1" data-nicelabel='{"position_class": "text_radio", "checked_text": "1", "unchecked_text": "1"}' type="radio" name="q12" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore3(this);" value="0" data-nicelabel='{"position_class": "text_radio", "checked_text": "0", "unchecked_text": "0"}' type="radio" name="q12" /></td>
                            <td><input class="text-nicelabel" onclick="CalculateScore3(this);" value="0" data-nicelabel='{"position_class": "text_radio", "checked_text": "N/A", "unchecked_text": "N/A"}' type="radio" name="q12" /></td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="d-none d-xl-block d-lg-block d-md-block"></th>
                            <th colspan="6">
                                <span id="spnError3" class="alert alert-danger"></span>
                            </th>
                        </tr>
                        <tr>
                            <th class="d-none d-xl-block d-lg-block d-md-block"></th>
                            <th colspan="5" class="text-right">Subtotal score for answers 10 to 12 (C):</th>
                            <th style="text-align:center"> <label id="totalScore3" class="text-white">0</label></th>
                        </tr>
                        <tr>
                            <th class="d-none d-xl-block d-lg-block d-md-block"></th>
                            <th colspan="5" class="text-right">
                                Add Subtotal A, Band C
                                (D=Sum of Scores for all Questions Answered)
                            </th>
                            <th style=" text-align:center"> <label id="totalScore4" class="text-white">0</label></th>
                        </tr>
                        <tr>
                            <th class="d-none d-xl-block d-lg-block d-md-block"></th>
                            <th colspan="5" class="text-right">
                                Total number of Questions Answered
                                (D=Sum of Scores for all Questions Answered)
                            </th>
                            <th style=""> <label id="totalQScore" class="text-white">0</label></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </section>
    <h3></h3>
    <section id="sec4">
        <div id="divOSDI">
            <div class="row">
                <div class="col-8">
                    <h1>Your Eye Dryness Severity OSDI Score is </h1>
                    <h1><span style="font-weight: 700;text-transform:uppercase;" id="FinalOSDIType"></span> <span style="font-weight: 700;" id="FinalOSDIRange"></span></h1>
                    <small>Final OSDI Score*</small>
                    <h1>
                        <span style="text-decoration: underline;font-weight: 700;" id="FinalOSDI"></span>
                    </h1>
                </div>
                <div class="col-4">
                    <div class="pill-nav">
                        <a id="normal" href="#">Normal</a>
                        <a id="mild" href="#">Mild</a>
                        <a id="moderate" href="#">Moderate</a>
                        <a id="severe" href="#">Severe</a>
                    </div>
                </div>
            </div>
            
            @*<hr />
            <p>Calculation</p>
            <p>OSDI = (Sum of severity for all questions answered X 100) / (Total no. of questions answered X 4)</p>
            <p> OSDI Score Calculation =  (<span id="spntotal"></span> X 100) / (<span id="spntotalQ"></span> X 4)</p>
            <p>Final OSDI Score = <span id="totalOSDIScore"></span></p>

            <img src="~/Content/images/reportimage.PNG" />*@
            @*<p class="text-bold">Your Eye Dryness Severity OSDI Score is <span style="text-decoration: underline;font-weight: 700;" id="FinalOSDI"></span> </p>*@
            @*<p><small>*Ref- J.S. Wolffsohn et al. /The Ocular Surface xxx (2017) 544e579</small></p>*@
            <p>
                <small>
                    <span class="text-left">
                        Issued in public interest by
                        <img src="~/Content/images/Ipca-Logo.png" style="width:100px;" />
                    </span> <span style="float:right;">
                        From the makers of
                        <img src="~/Content/images/Retenti.png" style="width:100px;" />
                    </span>
                </small>
            </p>
        </div>
    </section>
</div>